<!DOCTYPE html>
<html>
<head>
	<title> Server Provisioned </title>
</head>
<body>
	<h1> Welcome, </h1>
	<p> This server has successfully been setup! </p>
	<a target="_blank" href="http://naveedziarab.co.uk"> Created By Naveed Ziarab </a>
</body>
</html>